body {
  width: 1500px;
  height: 1500px;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: row;
}

.leftPanel {
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: column;
  margin: 20px;
}

.originCell{
  border: 1px solid black;
}

.buttonsPanel {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  justify-content: center;
}

.colorBtn {
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
}

.colorBtn:hover {
  outline: none;
  border: 2px solid black;
}

.turnsPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: darkblue;
}

.longPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: darkblue;
}

.turnsLab {
  text-transform: uppercase;
}

.turnsNum {
  margin-top: 10px;
}

.longLab {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.longNum {
  margin-top: 10px;
}

.board {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(14, 40px);
  grid-template-rows: repeat(14, 40px);
}

.rightPanel {
  display: flex;
  align-items: center;
  width: 400px;
  height: 400px;
  flex-direction: column;
  margin: 20px;
  margin-top: 40px;
  font-size: 20px;
  color: darkblue;
}

.cellsPanel {
  display: inline-block;
  /*flex-direction: column;*/
  /*align-items: center;*/
  margin-top: 10px;
  font-size: 20px;
}

.cells {
  margin-top: 4px;
  margin-right: 4px;
  height: 30px;
  width: 30px;
  border: none;
}

.gameInfo {
  display: flex;
  text-transform: uppercase;
}
