body {
  position: absolute;
  width: 1250px;
  height: fit-content;
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: black;
  margin: 20px;
  
}

.game {
  display: flex;
  flex-direction: row;
}

.leftPanel {
  display: flex;
  width: 450px;
  height: fit-content;
  flex-direction: column;
  margin-right: 15px;
  margin-top: 70px;
}

.originCell{
  border: 2px solid white;
}

.buttonsPanel {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  justify-content: center;
}

.colorBtn {
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
}

.colorBtn:hover {
  outline: none;
  border: 2px solid white;
}

.turnsPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: white;
}

.longPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: white;
}

.turnsLab {
  text-transform: uppercase;
}

.turnsNum {
  margin-top: 10px;
}

.longLab {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.longNum {
  margin-top: 10px;
}

.menuPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-size: 20px;
  color: white;
}
.menuGrilla {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.menu {
  width: 150px;
  height: 30px;
  align-items: center;
  background: white;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 6px;
  cursor: pointer;
}

.menu:hover {
  outline: none;
  border: 2px solid rgb(138, 133, 133);
}

.board {
  margin: 20px;
  display: grid;
  border: 3px solid white;
  width: fit-content;
  height: fit-content;
  grid-template-columns: repeat(14, 40px);
  grid-template-rows: repeat(14, 40px);
}

.clickableBoard {
  margin: 20px;
  display: grid;
  border: 3px solid white;
  width: fit-content;
  height: fit-content;
  grid-template-columns: repeat(14, 40px);
  grid-template-rows: repeat(14, 40px);
  cursor: pointer;
}

.rightPanel {
  display: flex;
  align-items: center;
  width: 470px;
  min-height: 300px;
  height: fit-content;
  flex-direction: column;
  margin: 30px;
  margin-left: 50px;
  margin-top: 30px;
  font-size: 20px;
  color: white;
  border: 2px solid white;
}

.historialPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.historialLab {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.cellsPanel {
  display: inline-block;
  /*flex-direction: column;*/
  align-items: center;
  margin: 6px;
  margin-right: 1px;
  margin-top: 10px;
}

.cells {
  margin-top: 4px;
  margin-right: 3px;
  margin-left: 5px;
  height: 30px;
  width: 30px;
  border: none;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

.won{
  position: absolute;
  background: rgba(255, 255, 255, 0.283);
  width: 1230px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /*justify-content: center;*/
  font-size: 34px;
}

.wonText{
  left: 48%;
  color: white;
  position:absolute;
  top: 47%;

  transform: translate(-50%,-50%);
}

.reiniciarBtn{
  width: 150px;
  height: 30px;
  align-items: center;
  background: white;
  border: white;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 8px;
  cursor: pointer;
  left: 47%;
  position:absolute;
  top: 53%;

  transform: translate(-50%,-50%);
}

.reiniciarBtn:hover {
  outline: none;
  border: 2px solid rgb(138, 133, 133);
}
